# general packages
pip
setuptools

# scientific computation
numpy
scipy
scikit-learn
lightgbm
torch==1.5.0

# NLP
gensim
mojimoji
spacy
nltk
mecab-python3

# data analysis
pandas
matplotlib
plotly

# web servers
Flask
fastapi
gunicorn
uvicorn

# utility tools
ipython
jupyter
jupyterlab
requests
requests_html
tqdm
ipywidgets
git+https://github.com/peinan/peinan-utils-py
