# scientific computation
numpy
scipy
scikit-learn
lightgbm

# NLP
gensim
mojimoji
spacy
mecab-python3

# data analysis
pandas
matplotlib
plotly

# web servers
fastapi
gunicorn
uvicorn

# utility tools
jupyterlab>=3.0.0,<3.1.0
ipython
jupyter
requests
requests_html
tqdm
ipywidgets>=7.5
git+https://github.com/peinan/peinan-utils-py
git+https://github.com/peinan/jupyterlab-execute-time
